/* Global Styling */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Lato", sans-serif;
 background-color: #f3f4f6;
}

/* Navbar Styling */
/* Navbar Styling */
.navbar {
 background: #ffffff;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 30px;
 border-bottom: 1px solid #ddd;
}

.nav_icon {
 display: none;
}

.nav_icon > i {
 font-size: 26px;
 color: #a5aaad;
}

.navbar__left > a {
 color: #3ea175; /* Couleur du texte */
 font-size: 18px; /* Taille de l'écriture ajustée */
 font-weight: 700;
 text-decoration: none;
}

.navbar__right {
 display: flex;
 align-items: center;
}

.navbar__right > a {
 margin-left: 20px;
 color: #3ea175; /* Couleur du texte */
 font-size: 18px; /* Taille de l'écriture ajustée */
 font-weight: 700;
}

.navbar__right > a > i {
 font-size: 20px;
}

/* Ajout du style spécifique pour les liens dans la navbar */
.navbar__right > a:hover {
 color: #338c5c; /* Survol avec un autre vert */
}


/* Sidebar Styling */
#sidebar {
 background-color: #020509;
 padding: 20px;
 color: #fff;
 width: 250px;
 position: fixed;
 top: 0;
 left: 0;
 height: 100%;
 transition: all 0.3s ease;
}

.sidebar__title {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.sidebar__img {
 display: flex;
 align-items: center;
}

.sidebar__img img {
 width: 75px;
 height: 75px;
 object-fit: contain;
 margin-right: 10px;
}

.sidebar__title h1 {
 font-size: 18px;
 color: #fff;
}

.sidebar__menu {
 margin-top: 30px;
}

.sidebar__link {
 color: #f3f4f6;
 padding: 10px;
 margin-bottom: 5px;
 font-weight: 700;
 border-radius: 5px;
 display: flex;
 align-items: center;
}

.sidebar__link > a {
 text-decoration: none;
 color: #a5aaad;
 font-weight: 700;
}

.sidebar__link:hover {
 background-color: rgba(62, 161, 117, 0.3);
}

.sidebar__link.active_menu_link {
 background-color: #3ea175;
 color: #fff;
}

.sidebar__link i {
 margin-right: 10px;
}

/* Main Content Styling */
main {
 margin-left: 250px;
 padding: 20px;
}

.main__container {
 padding: 20px 35px;
}

.form-container {
 background: #fff;
 padding: 25px;
 border-radius: 10px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 margin-bottom: 30px;
}

.form-container h1 {
 font-size: 24px;
 color: #2e4a66;
 margin-bottom: 20px;
}

.form-container input,
.form-container select,
.form-container textarea {
 width: 100%;
 padding: 12px;
 margin: 10px 0;
 border: 1px solid #ddd;
 border-radius: 5px;
 font-size: 16px;
 background-color: #f9f9f9;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
 outline: none;
 border-color: #3ea175;
 box-shadow: 0 0 5px rgba(62, 161, 117, 0.5);
}

.form-container button {
 width: 100%;
 padding: 12px;
 background-color: #3ea175;
 color: #fff;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 cursor: pointer;
}

.form-container button:hover {
 background-color: #338c5c;
}

/* Table Styling */
#clientTable {
 width: 100%;
 margin-top: 30px;
 border-collapse: collapse;
}

#clientTable th,
#clientTable td {
 padding: 12px;
 text-align: left;
 border-bottom: 1px solid #338c5c;
}

#clientTable th {
 background-color: #f4f4f4;
 color: #2e4a66;
 font-size: 16px;
 font-weight: 700;
}

#clientTable td {
 color: #333;
 font-size: 14px;
}

#clientTable tr:hover {
 background-color: #f9f9f9;
}

#clientTable td button {
 background-color: #338c5c;
 border: none;
 padding: 6px 12px;
 border-radius: 5px;
 cursor: pointer;
}

#clientTable td button:hover {
 background-color: #338c5c;
}

/* Responsive Design */
@media only screen and (max-width: 978px) {
 .container {
   grid-template-columns: 1fr;
 }

 #sidebar {
   display: none;
 }

 .navbar__left {
   flex-grow: 1;
 }

 .navbar__right {
   display: flex;
   justify-content: flex-end;
 }

 .nav_icon {
   display: block;
 }

 .sidebar_responsive {
   display: block !important;
   left: 0;
   position: absolute;
 }
 .sidebar__link > a {
   text-decoration: none;
   color: #a5aaad;
   font-weight: 700;
 }

 main {
   margin-left: 0;
 }
}
